@import 'styles/mixins';
@import 'styles/variables';

$btn_radius: 6px;
$btn_width_border: 2px;
$btn_width_min_sm: 140px;
$btn_width_min_md: 175px;

$btn_padding: 0.75em;
$btn_margin_sm: 1.45em;
$btn_margin_md: 1.65em;
$btn_disabled_opacity: 0.5;
$btn_color_alternate: #606060;
$btn_color_alternate_dark: darken($btn_color_alternate, 6%);

.Button {
  outline: none;
  cursor: pointer;
  appearance: none;
  text-align: center;

  display: inline-block;
  padding: $btn_padding;
  vertical-align: middle;
  border-radius: $btn_radius;
  min-width: $btn_width_min_sm;

  line-height: $line_height_b;
  background-color: transparent;
  font-size: $font_size_b_mobile;

  @include mobile-up {
    font-size: $font_size_b_desktop;
  }

  border-style: solid;
  color: $color_font_white;
  text-transform: uppercase;
  border-width: $btn_width_border;
  @include transitions(border-color, background-color);

  @include mobile-up {
    min-width: $btn_width_min_md;
  }

  & + & {
    margin-left: $btn_margin_sm;

    @include mobile-up {
      margin-left: $btn_margin_md;
    }
  }

  &:disabled,
  &[disabled] {
    pointer-events: none;
    opacity: $btn_disabled_opacity;
  }
}

.ButtonPrimary {
  border-color: $color_primary;

  &:hover,
  &:focus {
    border-color: $color_primary_dark;
    background-color: $color_primary_dark;
  }
}

.ButtonSecondary {
  border-color: $color_secondary;

  &:hover,
  &:focus {
    border-color: $color_secondary_dark;
    background-color: $color_secondary_dark;
  }
}

.ButtonAlternate {
  border-color: $btn_color_alternate;

  &:hover,
  &:focus {
    border-color: $btn_color_alternate_dark;
    background-color: $btn_color_alternate_dark;
  }
}

.ButtonDefault {
  @extend .Button;
}

.ButtonSmall {
  @extend .Button;
  font-size: $font_size_b_mobile / $font_size_scale_quot;

  @include mobile-up {
    font-size: $font_size_b_desktop / $font_size_scale_quot;
  }
}
