/* Colors and palettes used across the app. */
$color_primary: #75daff;
$color_secondary: #cab9bb;
$color_primary_dark: darken($color_primary, 12%);
$color_secondary_dark: darken($color_secondary, 12%);

$color_font_white: #ffffff;
$color_font_light: #c6c9d8;
$color_font_medm: #9697a4;

$color_bg_dark: #101010;
$color_bg_medm: #191919;
$color_bg_light: lighten($color_bg_medm, 5%);

/* Typograhpy variables used for desktop. */
$font_size_h1_desktop: 34px * 1.25;
$font_size_h2_desktop: 24px * 1.25;
$font_size_h3_desktop: 14px * 1.25;
$font_size_h4_desktop: 12px * 1.25;

$font_size_p_desktop: 16px * 1.25;
$font_size_b_desktop: 12px * 1.25;

/* Typograhpy variables used for mobile. */
$font_size_h1_mobile: 30px * 1.25;
$font_size_h2_mobile: 21px * 1.25;
$font_size_h3_mobile: 13px * 1.25;
$font_size_h4_mobile: 11px * 1.25;

$font_size_p_mobile: 14px * 1.25;
$font_size_b_mobile: 11px * 1.25;

/* Typograhpy variables that are common. */
$font_weight_norm: 400;
$font_weight_medm: 500;
$font_weight_bold: 700;

$font_margin_h1: 0.35em;
$font_margin_h2: 0.15em;
$font_margin_h3: 0.55em;
$font_margin_h4: 0.25em;
$font_margin_p: 0.875em;

$line_height_h1: 1.23em;
$line_height_h2: 1.23em;
$line_height_h3: 1.23em;
$line_height_h4: 1.23em;
$line_height_p: 1.5625em;
$line_height_b: 1.12em;

/* Breakpoint variables used for layout. */
$bp_width_mobile: 1200px;
$bp_width_desktop_lg: 1920px;
$bp_width_desktop_xlg: 2560px;

/* Transition duration values in seconds. */
$trans_time: 0.5s;
$trans_time_slow: 0.6s;
$trans_time_fast: 0.3s;
$trans_time_instant: 0.2s;

/* Transition delay values in seconds. */
$trans_delay: 0.2s;
$trans_delay_slow: 0.5s;
$trans_delay_fast: 0.1s;
$trans_delay_none: 0s;

/* Transition easing values (common). */
$ease: ease;
$ease_linear: linear;
$ease_in_out: ease-in-out;

$ease_out_sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease_out_quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease_out_expo: cubic-bezier(0.075, 0.685, 0.27, 0.86);

$ease_in_out_sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$ease_in_out_quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease_in_out_expo: cubic-bezier(0.655, 0.095, 0.165, 0.945);
