@import 'styles/mixins';
@import 'styles/variables';
@import 'components/Section/Section.module.scss';

$color_bg_grad_dark: #1b272e;
$color_bg_grad_medm: #1b272e;
$color_bg_grad_grey: $color_bg_medm;

$viewer_height_min: 100vh;
$viewer_bg_rad_grad: radial-gradient(
  circle,
  rgba($color_bg_grad_dark, 0.75) 0%,
  rgba($color_bg_grad_medm, 0.75) 21%,
  rgba($color_bg_grad_grey, 0.75) 42%
);

$art_selector_w_mobile: 100%;
$art_selector_w_desktop: 50%;
$art_selector_w_desktop_max: 480px;
$art_selector_w_desktop_lg_max: 540px;

.ViewerSection,
.ViewerSectionWrapper {
  position: relative;
}

.ViewerSectionContent {
  @extend .ViewerSection;
  z-index: 0;
}

.ViewerSectionFrame {
  @extend .ViewerSection;
  min-height: $viewer_height_min;
  background: $viewer_bg_rad_grad;
}

.ViewerSectionFrame,
.ViewerLoader {
  margin-top: -($section_pad_v_mobile * 1);

  @include mobile-up {
    margin-top: -($section_pad_v_desktop * 1);
  }
}

.ViewerSectionCarousel {
  @extend .ViewerSection;
  margin-top: -($section_pad_v_mobile * 2);
  padding-right: 0;
  padding-left: 0;
  z-index: 2;

  @include mobile-up {
    margin-top: -($section_pad_v_desktop * 2);
  }
}

.ViewerSectionElements {
  display: block;

  @include mobile-up {
    grid-column-gap: $section_pad_h_desktop;
    justify-content: center;
    display: flex;
  }

  @include tablet-up {
    justify-content: space-between;
    top: $section_pad_v_desktop * 2;
    position: absolute;
    width: 100%;
  }

  .ArtifactRankSelector,
  .ArtifactElemSelector {
    flex-basis: $art_selector_w_mobile;
    z-index: 2;

    @include mobile-up {
      flex-basis: $art_selector_w_desktop;
    }

    @include tablet-up {
      max-width: $art_selector_w_desktop_max;
    }

    @include desktop-lg-up {
      max-width: $art_selector_w_desktop_lg_max;
    }
  }
}

.ViewerFrame,
.ViewerLoader {
  z-index: 1;
  left: 0;
  top: 0;
}

.ViewerFrame {
  /* pointer-events: none; */
  position: absolute;
  height: 100%;
  width: 100%;
}

.ViewerLoader {
  @include transform-center;
}
